/.env
/.idea
/area_analysis_api/gee_console_scripts/utils-test.py
/area_analysis_api/gee_console_scripts/
/area_analysis_api/test.py
/ai_models/landscape_model/utils-test.py
/area_analysis_api/data-train.py
/vulture_report.txt
/ai_models/weather_model/example/
/ai_models/weather_model/weather_formulas.py
/ai_models/weather_model/data_for_test.py
/ai_models/designing_landscape_model/
/count.py
