/.env
/.idea
/area_analysis_api/gee_console_scripts/utils-test.py
/area_analysis_api/gee_console_scripts/
/area_analysis_api/test.py
/ai_models/landscape_model/utils-test.py
/area_analysis_api/data-train.py
/vulture_report.txt
/ai_models/weather-model/example/
