<!DOCTYPE html>
<html>
  <head>
    <title>Interactive Map with Drawing</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=drawing"></script>
    <script>
      function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: 49.422983, lng: 32.067783 },
          zoom: 8
        });

        const drawingManager = new google.maps.drawing.DrawingManager({
          drawingMode: google.maps.drawing.OverlayType.POLYGON,
          drawingControl: true,
          drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: ['polygon']
          },
          polygonOptions: {
            fillColor: '#ffff00',
            fillOpacity: 0.5,
            strokeWeight: 2,
            clickable: true,
            editable: true,
            zIndex: 1
          }
        });
        drawingManager.setMap(map);

        google.maps.event.addListener(drawingManager, 'polygoncomplete', function(polygon) {
          const coordinates = (polygon.getPath().getArray().map(coord => ({ lat: coord.lat(), lng: coord.lng() })));

          console.log(coordinates);
          fetch('/api/polygon/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ coordinates: coordinates })
          })
          .then(response => response.json())
          .then(data => console.log(data))
          .catch(error => console.error('Error:', error));
        });
      }
    </script>
  </head>
  <body onload="initMap()">
    <div id="map" style="height: 1200px; width: 100%;"></div>
  </body>
</html>
