<!DOCTYPE html>
<html>
<head>
    <title>Interactive Map with Drawing</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=drawing"></script>
    <script>
        function initMap() {
            const map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 50.330227958248024, lng: 26.23929702420039}, {#center: {lat: 49.422983, lng: 32.067783},#}
                zoom: 15
            });

            const drawingManager = new google.maps.drawing.DrawingManager({
                drawingMode: google.maps.drawing.OverlayType.POLYGON,
                drawingControl: true,
                drawingControlOptions: {
                    position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: ['polygon']
                },
                polygonOptions: {
                    fillColor: '#676560',
                    fillOpacity: 0.7,
                    strokeWeight: 2,
                    clickable: true,
                    editable: true,
                    zIndex: 1
                }
            });
            drawingManager.setMap(map);

            google.maps.event.addListener(drawingManager, 'polygoncomplete', function (polygon) {
                const coordinates = (polygon.getPath().getArray().map(coord => ([coord.lng(), coord.lat()])));
                {#console.log(coordinates);#}
                fetch('/api/polygon/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({coordinates: coordinates})
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        polygon.setMap(null);
                        if (data.crop) {
                            drawPolygon(data.crop, map, '#379628');
                        }
                        {#console.log(data.crop)#}
                        if (data.crop.length === 0) {
                            drawPolygon(coordinates, map, '#fa0000');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });

            function drawPolygon(coords, map, color) {
                const polygonPath = coords.map(coord => {
                    return {lat: coord[1], lng: coord[0]};
                });

                const polygon = new google.maps.Polygon({
                    paths: polygonPath,
                    strokeColor: '#000000',
                    strokeOpacity: 0.3,
                    strokeWeight: 2,
                    fillColor: color,
                    fillOpacity: 0.35
                });
                polygon.setMap(map);
            }
        }
    </script>
</head>
<body onload="initMap()">
<div id="map" style="height: 1200px; width: 100%;"></div>
</body>
</html>
